/* Button */
.button {
  display: flex;
  padding: var(--space-sm) var(--space-md);
  background-color: var(--color-secondary);
  border: var(--border-size) solid var(--border-color);
  border-radius: 0.125rem;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  box-shadow: var(--shadow);
  touch-action: manipulation;
}

.button > :not(:last-child) {
  margin-right: var(--space-sm);
}

.button:disabled {
  color: var(--color-grayscale);
  border-color: var(--color-grayscale);
  border-style: dashed;
  background-color: transparent;
  cursor: not-allowed;
}

.button:active,
.button:disabled {
  transform: translateY(2px);
  box-shadow: none;
}

.button.secondary {
  background-color: var(--color-background);
}

.button.icon {
  padding: var(--space-sm) var(--space);
}
