/* Horizontal scrolling */
.u-scroll-x {
  display: flex;
  max-width: 100%;
  overflow: scroll;
  overscroll-behavior-x: contain;
  scrollbar-width: none;
}

.u-scroll-x::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

/* Vertical rhythm */
.u-flow > * + * {
  --flow-space: var(--space);
  margin-top: var(--flow-space);
}

/* Vertical and horizontal centering */
.u-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}