:root {
  /* Colors */
  --color-primary: black;
  --color-secondary: whitesmoke;
  --color-grayscale: lightgray;
  --color-background: white;

  /* Fonts */
  --font-primary: system-ui;

  /* Transitions/Animations */
  --duration-sm: 150ms;
  --duration: 200ms;
  --duration-md: 400ms;
  --ease-in: cubic-bezier(0.32, 0, 0.67, 0);
  --ease-out: cubic-bezier(0.25, 1, 0.5, 1);
  --ease-in-out: cubic-bezier(0.83, 0, 0.17, 1);

  /* Spacing */
  --space-xs: 0.5rem;
  --space-sm: 0.75rem;
  --space: 1rem;
  --space-md: 2rem;
  --space-lg: 4rem;

  /* Decorators */
  --border-size: 2px;
  --border-color: var(--color-primary);
  --card-width: calc(350px - var(--space) * 2);
  --card-height: calc(var(--card-width) * 1.4);
  --shadow: rgba(0, 0, 0, 0.1) 0 2px 0;
}
